/******************************************************************/
/***************************** Layout *****************************/

body{
	background: url(../images/fondo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-opacity: 0.5;
	font-family: 'Ubuntu', sans-serif;
}

header{
	float: left;
	width: 100%;
	height: 5%;
	min-width: 800px;
	min-height: 60px;
	border-radius: 10px;
	background-color: green;
}

h1{
	text-align: center;
}

.navigation{
	display: block;
	text-align: center;
}

nav{
	height: 40px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5%;
}

nav ul{
    list-style-type: none;
}

nav ul li{
	float: left;
}

nav ul li a{
	text-decoration: none;
    padding: 8px 8px 8px 8px;
    color: #66FF99;
}

nav ul li a:hover{
	color: #99FFFF;
}

section{
	float: left;
	width: 100%;
	margin-bottom: -2%;
}

/******************************************************************/
/*********************** Error Contenedor *************************/

#error_container{
	float: left;
	clear: both;
	width: 100%;
}

.title_message{
	margin-left: 15%;
}

#error_message{
	color: red;
}

#info_message{
	color: yellow;
}

#success_message{
	color: green;
}

.lista_mensajes{
	margin-left: 20%;
}


/******************************************************************/
/*************************** Contenedor ***************************/

#container{
	float: left;
	width: 100%;
	margin-top: 1.5%;
	text-align: center;
}

#container p{
	font-size: 25px;
}

#form_user{
	display: block;
	text-align: center;
}

form{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.submit{
	clear: both;
	float: left;
	margin-left: 40%;
	margin-bottom: 25px;
	margin-top: 15px;
}

.row_form{
	clear: both;
}

.row_form label{
	margin-top: 10px;
	float: left;
}

.row_form input{
	margin-top: 10px;
	margin-left: 25px;
	float: right;
}

article{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

table{
	float: left;
	width: 100%;
}

td{
	padding-left: 30px;
}

th{
	padding-left: 30px;
	padding-bottom: 10px;
}

#titleQuiz{
	margin-left: 8%;
}

#contenedor{
	float: left;
	margin-left: 8%;
}

#contenedor form{
	float: left;
	clear: both;
}

#pregunta_quiz{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-left: 30%;
}

#pregunta_quiz label{
	float: left;
}

#pregunta_quiz input{
	float: right;
	width: 300px;
}

#respuesta_quiz{
	float: left;
	width: 100%;
	margin-bottom: 10px;
	margin-left: 30%;
}

#respuesta_quiz label{
	float: left;
}

#respuesta_quiz input{
	float: right;
	width: 300px;
}

#botonAddQuiz{
	margin-left: 70%;
	float: left;
	margin-bottom: 25px;
}

#tabla_Quiz{
	float: left;
	margin-left: 30%;
}

#noQuiz{
	clear: both;
	float: left;
	font-size: 5px;
}


/******************************************************************/
/***************************** Footer *****************************/

footer{
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	float: left;
	text-align: center;
}



