<h2 id="titleQuiz"> Quiz - Preguntas </h2>
<form method='POST' action='/quizes/new'>
	<div id="contenedor"></div>
	<script type="text/javascript" src="/src/build/index.js"></script>
	<input class="submit" name="commit" type="submit" value="Create Quizes" />
</form>